.tl-container {
	max-width: 1050px;
	margin-inline: auto;
}

// Ticket List Card
.tl-card {
	background: #ffffff;
	border-radius: 4px;
	&__header {
		padding: 25px 30px;
		border-bottom: 1px solid #ededed;
		&--flex-between {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
	}
	&__body {
		padding: 30px;
	}

	&--support-forum {
		.tl-card__body {
			max-width: 600px;
			text-align: center;
			margin-inline: auto;
			@include breakpoint-min(desktop-lg) {
				padding-block: 80px;
				.tl-form-group {
					margin-inline: auto;
					max-width: 370px;
				}
			}
		}
	}
}
