// Modal Styles
.tl-modal {
	background: #ffffff;
	border: 1px solid #f2f2f2;
	box-sizing: border-box;
	box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.05);
	border-radius: 11px;
	position: relative;

	padding: 60px 40px;
	@include breakpoint-min(tablet) {
		display: flex;
		gap: 30px;
	}
	max-width: 700px;
	margin-inline: auto;

	&__icon {
		@include breakpoint-max(tablet) {
			margin-bottom: 20px;
		}
	}

	&__close-icon {
		position: absolute;
		right: 30px;
		top: 30px;
	}

	&__content {
		font-size: 15px;
		line-height: 200%;
		letter-spacing: 0.26px;
		color: var(--cs-primary-gray);
	}

	.tl-button-group {
		@include breakpoint-max(mobile) {
			.tl-button {
				display: block;
				width: 100%;
			}
		}
		@include breakpoint-min(mobile) {
			display: flex;
			gap: 30px;
		}
	}
}
